
.headline {
    background-position: center;
    text-align: center;
}

.headline  {
    background-image: url(../img/landing.jpg);
}

.headline p {
    font-size: 14;
    color:white;

}
.first{
  border:10px;
}
.one{
  margin-right: 0px;
  border-right: 0px;
  padding-right: 0px;
}
 .party{
   background-color: orange;
   height:60px;
   padding:20px;
 }
 .happy{
   height:60px;
   padding:20px;
 }

.bf {
  padding:70px;
  background-image: url(../img/breakfast.jpg);
  color:white;
  background-position: left;
}

.lch {
  padding:70px;

  background-image: url(../img/lunch.jpg);
  color:white;
}

.dnr {
  padding:70px;
  background-image: url(../img/dinner.jpg);
  color:white;
}

.second{
  margin-top: 30px;
}

.third {
  padding-top:40px;
}

.photo2 {
  padding:20px;
  height:auto;
  float:right;
}

.text {
  padding: 20px;
  float: left;
  height:auto;
}
