
.headline {
    background-position: center;
    text-align: center;
}

.headline  {
    background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/landing.jpg);
}

.headline p {
    font-size: 14;
    color:white;

}

.bf {
  padding:80px;
  background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/breakfast.jpg);
}

.lch {
  padding: 80px;
  background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/lunch.jpg);
}

.dnr {
  padding:80px;
  background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/dinner.jpg);
}
