
.headline {
    background-position: center;
    text-align: center;
}

.headline  {
    background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/landing.jpg);
}

.headline p {
    font-size: 14;
    color:white;

}

.bf {
  padding:50px;
  background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/breakfast.jpg);
  color:white;
}

.lch {
  padding: 50px;
  background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/lunch.jpg);
  color:white;
}

.dnr {
  padding:50px;
  background-image: url(/home/njoroge/Desktop/moringa/Anitas-kitchen/img/dinner.jpg);
  color:white;
}

.stack {
  padding:25px;

}

.stack2 {
  padding:25px;
  
  background-color: red;

}
